@media only screen and (min-width: 1025px) { 
    #brainy_container { 
        width: 60%;
        background-color: #a363a9;
        height: 30%;
        position: absolute;
        transform: translate(-50%, 50%);
        left: 67%;
        bottom: 20%;
        z-index: 100; /*learned z-index can be used to make elements appear ontop of others*/
        border-radius: 15px;
    }
    
    #speech {
        padding: 3%;
        position: absolute;
        left: 55%;
        background-color: white;
        top: 10%;
        right: 10%;
        border-radius: 15px;
    }
    
    #speech p {
        font-size: 16px;
    }
    
    #exitButton {
        font-size: 10px;
        position: absolute;
        background-color: #fbc9ff;
        left: 45%;
        bottom: 5%;
        border: 0;
        padding: 2.5%;
        width: 15%;
    }
    
    #options {
        position: absolute;
        left: 47.5%;
        bottom: 24.5%;
        border: 0;
        padding: 2.5%;
        width: 45%;
        background-color: white;
        /*center the buttons*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #options button {
        font-size: 16px;
        border: 0;
        background-color: #dadada;
        margin-top: 7%;
    }
    
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .brainyImage {
        width: 30%;
        position: absolute;
        bottom: 2.5%;
    }
    
    #logoutButtonTutorial {
        position: absolute;
        background-color: #fbc9ff;
        left: 70%;
        bottom: 5%;
        border: 0;
        padding: 2.5%;
        width: 15%;
    }
    #gTut_pointer1 { /*should point to groups*/
        width:60%; position: absolute; left: -40%; bottom: 150%;
    }
    
    #gTut_pointer2 { /*should point to brainlink*/
        width:60%; position: absolute; left: -20%; bottom: 75%;
    }
    
    #gTut_pointer3 { /*point to brainframe*/
        width:60%; position: absolute; left: -60%; bottom: 75%;
    }
    
    #gTut_pointer4 { /*point to settings*/
        width:60%; position: absolute; left: -40%; bottom: 40%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) { 
    #gTut_pointer1 { /*should point to groups*/
        width:60%; position: absolute; left: -45%; bottom: 150%;
    }
    
    #gTut_pointer2 { /*should point to brainlink*/
        width:60%; position: absolute; left: -28%; bottom: 110%;
    }
    
    #gTut_pointer3 { /*point to brainframe*/
        width:60%; position: absolute; left: -70%; bottom: 115%;
    }
    
    #gTut_pointer4 { /*point to settings*/
        width:60%; position: absolute; left: -45%; bottom: 80%;
    }
    #brainy_container { 
        width: 60%;
        background-color: #a363a9;
        height: 30%;
        position: absolute;
        transform: translate(-50%, 50%);
        left: 67%;
        bottom: 20%;
        z-index: 100; /*learned z-index can be used to make elements appear ontop of others*/
        border-radius: 15px;
    }
    
    #speech {
        padding: 3%;
        position: absolute;
        left: 10%;
        background-color: white;
        top: 10%;
        right: 10%;
        border-radius: 15px;
    }
    
    #speech p {
        font-size: 18px;
    }
    
    #exitButton {
        font-size: 10px;
        position: absolute;
        background-color: #fbc9ff;
        left: 45%;
        bottom: 5%;
        border: 0;
        padding: 2.5%;
        width: 15%;
    }
    
    #options {
        position: absolute;
        left: 47.5%;
        bottom: 19.5%;
        border: 0;
        padding: 2.5%;
        width: 45%;
        background-color: white;
        /*center the buttons*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #options button {
        font-size: 18px;
        border: 0;
        background-color: #dadada;
        margin-top: 7%;
    }
    
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .brainyImage {
        width: 45%;
        position: absolute;
        bottom: 2.5%;
    }
    
    #logoutButtonTutorial {
        position: absolute;
        background-color: #fbc9ff;
        left: 70%;
        bottom: 5%;
        border: 0;
        padding: 2.5%;
        width: 15%;
    }
}

@media only screen and (max-width: 800px) { 
    #gTut_pointer1 { /*should point to groups*/
        width:60%; position: absolute; left: -40%; bottom: 150%;
    }
    
    #gTut_pointer2 { /*should point to brainlink*/
        width:60%; position: absolute; left: -8%; bottom: 117%;
    }
    
    #gTut_pointer3 { /*point to brainframe*/
        width:60%; position: absolute; left: -75%; bottom: 117%;
    }
    
    #gTut_pointer4 { /*point to settings*/
        width:60%; position: absolute; left: -45%; bottom: 80%;
    }
    #brainy_container { 
        width: 60%;
        background-color: #a363a9;
        height: 30%;
        position: absolute;
        transform: translate(-50%, 50%);
        left: 67%;
        bottom: 20%;
        z-index: 100; /*learned z-index can be used to make elements appear ontop of others*/
        border-radius: 15px;
    }
    
    #speech {
        padding: 5%;
        position: absolute;
        left: 10%;
        background-color: white;
        top: 10%;
        right: 10%;
        border-radius: 15px;
    }
    
    #speech p {
        font-size: 10px;
    }
    
    #exitButton {
        font-size: 10px;
        position: absolute;
        background-color: #fbc9ff;
        left: 45%;
        bottom: 5%;
        border: 0;
        padding: 2.5%;
        width: 15%;
    }
    
    #options {
        position: absolute;
        left: 47.5%;
        bottom: 19.5%;
        border: 0;
        padding: 2.5%;
        width: 45%;
        background-color: white;
        /*center the buttons*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    #options button {
        font-size: 10px;
        border: 0;
        background-color: #dadada;
        margin-top: 7%;
    }
    
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .brainyImage {
        width: 50%;
        position: absolute;
        bottom: 2.5%;
    }
    
    #logoutButtonTutorial {
        position: absolute;
        background-color: #fbc9ff;
        left: 70%;
        bottom: 5%;
        border: 0;
        padding: 2.5%;
        width: 15%;
    }
}