#gTut_pointer1 { /*should point to groups*/
    width:60%; 
    max-width: 200px;
    transform: translate(-50%, 50%);
    position: absolute; 
    left: -10%; 
    bottom: 55vh;
}

#gTut_pointer2 { /*should point to brainlink*/
    width:60%; 
    max-width: 200px;
    transform: translate(-50%, 50%);
    position: absolute; 
    left: 20%; 
    bottom: 147%;
}

#gTut_pointer3 { /*point to brainframe*/
    width:60%; 
    max-width: 200px;
    transform: translate(-50%, 50%);
    position: absolute; 
    left: -30%; 
    bottom: 147%;
}

#gTut_pointer4 { /*point to settings*/
    width:60%; 
    max-width: 200px;
    transform: translate(-50%, 50%);
    position: absolute; 
    left: -12%; 
    bottom: 120%;
}

#brainy_container { 
    width: 60%;
    background-color: #a363a9;
    height: 30%;
    position: absolute;
    transform: translate(-50%, 50%);
    left: 67%;
    bottom: 20%;
    z-index: 100; /*learned z-index can be used to make elements appear ontop of others*/
    border-radius: 15px;
}

#speech {
    padding: 5px;
    position: absolute;
    left: 10%;
    background-color: white;
    top: 10%;
    right: 10%;
    border-radius: 15px;
}

#speech p {
    font-size: 10px;
}

#exitButton {
    font-size: 10px;
    position: absolute;
    background-color: #fbc9ff;
    left: 45%;
    bottom: 5%;
    border: 0;
    padding: 5px;
}

#logoutButtonTutorial {
    font-size: 10px;
    position: absolute;
    background-color: #fbc9ff;
    left: 70%;
    bottom: 5%;
    border: 0;
    padding: 5px;
}

#options {
    position: absolute;
    left: 45%;
    bottom: 19.5%;
    border: 0;
    padding: 2.5%;
    width: 45%;
    background-color: white;
    /*center the buttons*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#options button {
    font-size: 10px;
    border: 0;
    background-color: #dadada;
    margin-top: 7%;
}
@media only screen and (min-width: 658px) {
    #options { 
        bottom: 22.5%; 
        padding: 3%; 
        left: 40%;
    }
    #options button { margin-top: 0%; }
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

.brainyImage {
    width: 50%;
    max-width: 17vh;
    position: absolute;
    bottom: 2.5%;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
    #speech {
        padding: 10px;
    }
    
    #speech p {
        font-size: 12px;
    }

    #gTut_pointer1 { /*should point to groups*/
        max-width: 300px;
    }

    #gTut_pointer2 { /*point to brainframe*/
        max-width: 300px;
    }

    #gTut_pointer3 { /*point to brainframe*/
        max-width: 300px;
    }
    
    #gTut_pointer4 { /*point to settings*/
        max-width: 300px;
        left: -10%; 
        bottom: 110%;
    }

    #exitButton {
        padding: 7px;
    }
    
    #logoutButtonTutorial {
        padding: 7px;
    }
}

@media only screen and (min-width: 830px) and (min-height: 830px) {
    #speech {
        padding: 20px;
    }

    #speech p {
        font-size: 15px;
    }

    #gTut_pointer1 { /*should point to groups*/
        max-width: 350px;
        left: 0%; 
        bottom: 60vh;
    }

    #gTut_pointer2 { /*point to brainframe*/
        max-width: 350px;
    }

    #gTut_pointer3 { /*point to brainframe*/
        max-width: 350px;
        left: -25%; 
    }
    
    #gTut_pointer4 { /*point to settings*/
        max-width: 350px;
        left: 0%; 
    }

    #exitButton {
        font-size: 15px;
        padding: 10px;
    }
    
    #logoutButtonTutorial {
        font-size: 15px;
        padding: 10px;
    }

    #options button {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1400px) and (min-height: 1140px) {
    #speech p {
        font-size: 20px;
    }

    #gTut_pointer1 { /*should point to groups*/
        left: 10%; 
        bottom: 55vh;
    }

    #gTut_pointer3 { /*point to brainframe*/
        left: -5%; 
    }
    
    #gTut_pointer4 { /*point to settings*/
        left: 10%; 
    }

    #options {
        padding: 4%;
    }
    
    #options button {
        font-size: 20px;
    }
}