#navBar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #DDC459;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
}

#navBar li {
    flex: 1;
}

#navbar {
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#navBar p {
    color: white;
    font-size: 18px;
    padding-bottom: 4vh;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-height: fit;
    display: flex;
    align-items: center;
    margin: auto;
}

#navBar a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 15vw;
    max-height: fit;
    padding-left: 1.25vw;
}

#navBar img {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: auto;

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: #4B4B4B;
}

h1 {
    font-size: 4vh;
}

h2 {
    font-size: 3vh;
}

p {
    font-size: 2.2vh;
}

#mainContent {
    width: 85vw;
    display: flex;
    flex-direction: column;
    transform: translateX(15vw) translateY(-100vh);
}

#classroomHeading {
    height: 12vh;
    width: 100%;
    padding: 2vh 0 2vh 2vw;
    transform: translateY(-2vh);
}

#discussionHeader {
    margin-left: 2.5%;
}

#post {
    background-color: #DDC459;
    width: 91%;
    padding: 2vh 2vw;
    margin: 2vh 2vw;
}

#post h2 {
    background-color: #4B4B4B;
}

#postContentBox {
    background-color: #ececec;
    height: 15vw;
    padding: 2vw, 2vw;
    flex-wrap: wrap;
    display: flex;
}

#postContentBox p {
    flex: 1;
    margin: 0;
}

#post h3 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 0; 
}


#PostBoard {
    overflow-y: scroll;
    margin-left: 2.5vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    width: 80vw;
    height: 85vh;
    background-color: #4B4B4B;
}

#code {
    transform: translateX(15vw) translateY(-100vh);
}

#code h1{
    padding-left: 2vw;
}

#deletePopup {
    position:absolute;
    background-color: white;
    left: 30%;
    top: 30%;
    padding: 2vw;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #DDC459;
}
::-webkit-scrollbar-thumb {
    background-color: #ab942f;
  }
