/*desktop*/
@media only screen and (min-width: 1025px) {
    #navBar ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
        background-color: #eb7b34;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 15vw;
    }

    #deleteButton {
        background-color: #db0000;
        border: none;
        color: white;
        float: right;
        width: 5vw;
        height: 2.5vw;
    }

    #deleteButton:active {
        background-color: #640000;
    }

    #deleteButton:hover {
        background-color: #ff2121;
    }

    #reportButton {
        background-color: #005fdb;
        border: none;
        color: white;
        float: right;
        width: 5vw;
        height: 2.5vw;
    }

    #reportButton:active {
        background-color: #003377;
    }

    #reportButton:hover {
        background-color: #398fff;
    }
    
    #navBar li {
        flex: 1;
    }
    
    #navbar {
        height: 100vh;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    
    #navBar p {
        color: white;
        font-size: 18px;
        padding-bottom: 4vh;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        max-height: fit;
        display: flex;
        /* Use flex for centering vertically */
        align-items: center;
        /* Center vertically */
        margin: auto;
    }
    
    #navBar a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        display: flex;
        /* Use flex for centering vertically */
        align-items: center;
        /* Center vertically */
        margin: auto;
        width: 15vw;
        max-height: fit;
        padding-left: 1.25vw;
    }
    
    #navBar img {
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
        margin: auto;
    
    }
    
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        color: #eb7b34;
    }
    
    h1 {
        font-size: 4vh;
    }
    
    h2 {
        font-size: 3vh;
    }
    
    p {
        font-size: 2.2vh;
    }
    
    #editBtns {
        position: absolute;
        bottom: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    #mainContent {
        width: 85vw;
        display: flex;
        flex-direction: column;
        transform: translateX(15vw) translateY(-100vh);
    }
    
    #classroomHeading {
        height: 12vh;
        width: 100%;
        padding: 2vh 0 2vh 2vw;
        transform: translateY(-2vh);
    }
    
    #discussionHeader {
        margin-left: 2.5%;
    }
    
    #post {
        background-color: #d2d2d2;
        width: 91%;
        padding: 2vh 2vw;
        margin: 2vh 2vw;
    }
    
    #post h2 {
        background-color: #d2d2d2;
    }
    
    #postContentBox {
        background-color: #ebebeb;
        height: 15vw;
    }
    
    #PostBoard {
        overflow-y: scroll;
        margin-left: 2.5vw;
        padding-top: 2vh;
        width: 80vw;
        height: 30vw;
        background-color: #efa87c;
    }
    
    #composeBoxDiscussion {
        margin: 2vh 2vw;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    #deletePopup {
        position:absolute;
        background-color: white;
        left: 30%;
        top: 30%;
    }

    #deletePopup button {
        position: relative;
        left: 17%;
        margin-right: 10%;
        width: 8vw;
        height: 3vw;
        background-color: #eb7b34;
        color: white;
        border: none;
    }

    #deletePopup h1 {
        text-align: center;
    }

    #deletePopup button:hover {
        background-color: #903903;
    }

    #deletePopup button:active {
        background-color: #efa87c;
    }
    
    #reportPopup {
        position:absolute;
        background-color: white;
        left: 30%;
        top: 30%;
    }
    
    ::-webkit-scrollbar {
        width: 15px;
        background-color: #eb7b34;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #903903;
      }
    
      #dropbtn {
        background-color: #006A78;
        border-radius: 3px;
        color: white;
        font-size: 16px;
        border: none;
        width: 10vw;
    }
    
    #dpDMenu {
        position: relative;
        display: inline-block;
        width: 20vw;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    #dpDMenuCon {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 20vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 2vh;
    }
    
    #dpDMenuCon a:hover {
        background-color: #ddd;
    }
    
    #dpDMenu:hover #dpDMenuCon {
        display: block;
    }
    
    #dpDMenu:hover #dropbtn {
        background-color: #004b55;
    }

    #gTut_pointer1 { /*should point to groups*/
        width:60%; position: absolute; left: -70%; bottom: 150%;
    }
    
    #gTut_pointer2 { /*should point to brainlink*/
        width:60%; position: absolute; left: -28%; bottom: 110%;
    }
    
    #gTut_pointer3 { /*point to brainframe*/
        width:60%; position: absolute; left: -100%; bottom: 115%;
    }
    
    #gTut_pointer4 { /*point to settings*/
        width:60%; position: absolute; left: -75%; bottom: 80%;
    }
}

/*tablet*/
@media only screen and (min-width: 801px) and (max-width: 1024px) {
    #gTut_pointer1 { /*should point to groups*/
        width:75%; position: absolute; left: -70%; bottom: 150%;
    }
    
    #gTut_pointer2 { /*should point to brainlink*/
        width:75%; position: absolute; left: -28%; bottom: 110%;
    }
    
    #gTut_pointer3 { /*point to brainframe*/
        width:75%; position: absolute; left: -100%; bottom: 115%;
    }
    
    #gTut_pointer4 { /*point to settings*/
        width:75%; position: absolute; left: -75%; bottom: 80%;
    }

    #navBar ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
        background-color: #eb7b34;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 15vw;
    }

    #deleteButton {
        background-color: #db0000;
        border: none;
        color: white;
        float: right;
        width: 6vw;
        height: 2.5vw;
    }

    #deleteButton:active {
        background-color: #640000;
    }

    #deleteButton:hover {
        background-color: #ff2121;
    }

    #reportButton {
        background-color: #005fdb;
        border: none;
        color: white;
        float: right;
        width: 6vw;
        height: 2.5vw;
    }

    #reportButton:active {
        background-color: #003377;
    }

    #reportButton:hover {
        background-color: #398fff;
    }
    
    #navBar li {
        flex: 1;
    }
    
    #navbar {
        height: 100vh;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    
    #navBar p {
        color: white;
        font-size: 18px;
        padding-bottom: 4vh;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        max-height: fit;
        display: flex;
        /* Use flex for centering vertically */
        align-items: center;
        /* Center vertically */
        margin: auto;
    }
    
    #navBar a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        display: flex;
        /* Use flex for centering vertically */
        align-items: center;
        /* Center vertically */
        margin: auto;
        width: 15vw;
        max-height: fit;
        padding-left: 1.25vw;
    }
    
    #navBar img {
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
        margin: auto;
    
    }
    
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        color: #eb7b34;
    }
    
    h1 {
        font-size: 4vh;
    }
    
    h2 {
        font-size: 3vh;
    }
    
    p {
        font-size: 2.2vh;
    }
    
    #editBtns {
        position: absolute;
        bottom: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    #mainContent {
        width: 85vw;
        display: flex;
        flex-direction: column;
        transform: translateX(15vw) translateY(-100vh);
    }
    
    #classroomHeading {
        height: 12vh;
        width: 100%;
        padding: 2vh 0 2vh 2vw;
        transform: translateY(-2vh);
    }
    
    #discussionHeader {
        margin-left: 2.5%;
    }
    
    #post {
        background-color: #d2d2d2;
        width: 91%;
        padding: 2vh 2vw;
        margin: 2vh 2vw;
    }
    
    #post h2 {
        background-color: #d2d2d2;
    }
    
    #postContentBox {
        background-color: #ebebeb;
        height: 15vw;
    }
    
    #PostBoard {
        overflow-y: scroll;
        margin-left: 2.5vw;
        padding-top: 2vh;
        padding-bottom: 1vh;
        width: 80vw;
        height: 105vw;
        background-color: #efa87c;
    }
    
    #composeBoxDiscussion {
        margin: 3vh 3vw;
    }

    #typeBox {
        height: 30px;
        border: none;
        background-color: #f1f1f1;
    }

    #deletePopup {
        position:absolute;
        background-color: white;
        left: 12%;
        top: 30%;
    }

    #deletePopup h1 {
        font-size: 4vh;
        text-align: center;
    }
    
    #deletePopup button {
        position: relative;
        left: 20%;
        margin-right: 10%;
        width: 15vw;
        height: 5vw;
        background-color: #eb7b34;
        color: white;
        border: none;
    }

    #deletePopup button:hover {
        background-color: #903903;
    }

    #deletePopup button:active {
        background-color: #efa87c;
    }

    #reportPopup {
        position:absolute;
        background-color: white;
        left: 30%;
        top: 30%;
    }
    
    ::-webkit-scrollbar {
        width: 15px;
        background-color: #eb7b34;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #903903;
      }
    
      #dropbtn {
        background-color: #006A78;
        border-radius: 3px;
        color: white;
        font-size: 16px;
        border: none;
        width: 10vw;
    }
    
    #dpDMenu {
        position: relative;
        display: inline-block;
        width: 20vw;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    #dpDMenuCon {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 20vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 2vh;
    }
    
    #dpDMenuCon a:hover {
        background-color: #ddd;
    }
    
    #dpDMenu:hover #dpDMenuCon {
        display: block;
    }
    
    #dpDMenu:hover #dropbtn {
        background-color: #004b55;
    }
}

/*phone*/
@media only screen and (max-width: 800px) {
    #gTut_pointer1 { /*should point to groups*/
        width:75%; position: absolute; left: -70%; bottom: 150%;
    }
    
    #gTut_pointer2 { /*should point to brainlink*/
        width:75%; position: absolute; left: -28%; bottom: 110%;
    }
    
    #gTut_pointer3 { /*point to brainframe*/
        width:75%; position: absolute; left: -100%; bottom: 115%;
    }
    
    #gTut_pointer4 { /*point to settings*/
        width:75%; position: absolute; left: -75%; bottom: 80%;
    }

    body {
        margin: 0;
        overflow: hidden;
    }

    #deleteButton {
        background-color: #db0000;
        border: none;
        color: white;
        float: right;
        width: 13vw;
        height: 4.5vw;
    }

    #deleteButton:active {
        background-color: #640000;
    }

    #deleteButton:hover {
        background-color: #ff2121;
    }

    #reportButton {
        background-color: #005fdb;
        border: none;
        color: white;
        float: right;
        width: 13vw;
        height: 4.5vw;
    }

    #reportButton:active {
        background-color: #003377;
    }

    #reportButton:hover {
        background-color: #398fff;
    }

    #navBar ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        overflow: hidden;
        background-color: #eb7b34;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 22vw;
    }
    
    #navBar li {
        flex: 1;
        width: max-content;
    }
    
    #navbar {
        height: 100vh;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    
    #navBar p {
        color: white;
        font-size: 18px;
        padding-bottom: 4vh;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        max-height: fit;
        display: flex;
        /* Use flex for centering vertically */
        align-items: center;
        /* Center vertically */
        margin: auto;
    }
    
    #navBar a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        display: flex;
        /* Use flex for centering vertically */
        align-items: center;
        /* Center vertically */
        margin: auto;
        width: 15vw;
        max-height: fit;
        padding-left: 1.25vw;
    }
    
    #navBar img {
        padding-top: 2vh;
        padding-bottom: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vw;
        margin: auto;
    
    }
    
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
        color: #eb7b34;
    }
    
    h1 {
        font-size: 4vh;
    }
    
    h2 {
        font-size: 3vh;
    }
    
    p {
        font-size: 2.2vh;
    }
    
    #editBtns {
        position: absolute;
        bottom: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    #mainContent {
        width: 85vw;
        display: flex;
        flex-direction: column;
        transform: translateX(15vw) translateY(-100vh);
    }
    
    #classroomHeading {
        height: 12vh;
        width: 100%;
        padding: 2vh 0 2vh 8vw;
        transform: translateY(-2vh);
        overflow: hidden;
    }
    
    #discussionHeader {
        margin-left: 2.5%;
    }
    
    #post {
        background-color: #d2d2d2;
        width: 91%;
        padding: 2vh 2vw;
        margin: 2vh 2vw;
    }
    
    #post h2 {
        background-color: #d2d2d2;
    }
    
    #postContentBox {
        background-color: #ebebeb;
        height: 15vw;
    }
    
    #PostBoard {
        overflow-y: scroll;
        margin-left: 7.5vw;
        padding-top: 2vh;
        padding-bottom: 1vh;
        width: 80vw;
        height: 150vw;
        background-color: #efa87c;
    }
    
    #composeBoxDiscussion {
        margin: 1vh 3vw;
        margin-left: 9vw;
    }
    
    #deletePopup {
        position:absolute;
        background-color: white;
        left: 30%;
        top: 30%;
    }
    
    #reportPopup {
        position:absolute;
        background-color: white;
        left: 30%;
        top: 30%;
    }
    
    ::-webkit-scrollbar {
        width: 15px;
        background-color: #eb7b34;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #903903;
      }
    
      #dropbtn {
        background-color: #006A78;
        border-radius: 3px;
        color: white;
        font-size: 16px;
        border: none;
        width: 10vw;
    }
    
    #dpDMenu {
        position: relative;
        display: inline-block;
        width: 20vw;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    #dpDMenuCon {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 20vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        padding: 2vh;
    }
    
    #dpDMenuCon a:hover {
        background-color: #ddd;
    }
    
    #dpDMenu:hover #dpDMenuCon {
        display: block;
    }
    
    #dpDMenu:hover #dropbtn {
        background-color: #004b55;
    }
}