h1 {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    margin-top: 0;
}


#logoIcon {
    width: 300px;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 50%;
    position: absolute;
}

#brainyIcon {
    cursor:pointer;
    position: absolute;
    left: 2.5%;
    bottom: 4%;
    width: 125px;
    margin-bottom: 20px;
}

#logoutTutorial p {
    width:50%;
    position: absolute;
    left: -59%;
    bottom: 75%;
    background-color: #dbdbdb;
    padding: 1.5%;
    border-radius:15px;
    text-align: center;
    font-size: 15px;
}

#logoutPointer {
    width:75%; 
    position: absolute; 
    left: -67%; 
    bottom: 90%;
}

#gTut_pointer1 { /*should point to groups*/
    width:75%; position: absolute; left: -70%; bottom: 150%;
}

#gTut_pointer2 { /*should point to brainlink*/
    width:75%; position: absolute; left: -28%; bottom: 110%;
}

#gTut_pointer3 { /*point to brainframe*/
    width:75%; position: absolute; left: -100%; bottom: 115%;
}

#gTut_pointer4 { /*point to settings*/
    width:75%; position: absolute; left: -75%; bottom: 80%;
}

.gdpr-warning p {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #989898;
    font-size: 8px;
}

map {
    cursor:pointer;
}

/* For tablets: */
@media only screen and (min-width: 600px) and (min-height: 600px) {
    #logoIcon { width: 450px; }
}

@media only screen and (min-width: 830px) and (min-height: 830px) {
    h1 { font-size: 4vw; }
    #logoIcon { width: 700px; }
    .gdpr-warning p { font-size: 10px; }
}