/* Your CSS styles here */
#container {
    display: flex;
}

body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

#navBar{
    position: fixed;
}

#navBar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #423076;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15vw;
}

#navBar li {
    flex: 1;
}

#navBar p {
    color: white;
    font-size: 18px;
    padding-bottom: 4vh;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-height: fit;
    display: flex;
    align-items: center;
    margin: auto;
}

#navBar a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 15vw;
    max-height: fit;
    padding-left: 1.25vw;
}

#navBar img {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: auto;

}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transform: translateX(15vw);
    width: 85vw;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#heading {
    width: 100%; /* Take full width */
    height: 15vh;
    color: #423076;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: #423076 solid 5px;
    top: 0;
}
#heading h1{
    transform: translateX(2vw);
}

#logOutBtn {
    border: none;
    background-color: #423076;
    color: white;
    border-radius: 20%;
    height: 11vh;
    font-size: 4vh;
    width: 5vw;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center; /* Center the icon horizontally */
    align-items: center;
    transform: translateX(160vh) translateY(-13vh);
}

#logOutBtn i {
    margin-left: 5px;
}

#settingsList {
    position: absolute;
    width: 10vw;
    height: 85vh; /* Adjust height as needed */
    background-color: red;
    transform: translateX(-1vw) translateY(15.7vh);
}

#SettingsContent {
    position: absolute;
    background-color: aqua;
    transform: translateX(9vw) translateY(15.65vh);
    width: 76vw;
    height: 85vh;
    overflow-y: auto; /* Add scroll if necessary */
}

#text {
    margin-left: 2vw;
}
