<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom</title>
    <link rel="stylesheet" href="\stylesheets\classroom.css">
    <script src="https://kit.fontawesome.com/e15d1ee196.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-carousel@0.18.0"></script>
</head>

<body>
    <div id="content">
        <div id="navBar">
            <ul>
                <img src="\images\groupSys_icon.png" alt="brainbox logo" height="auto" id="redirectButton"
                    @click="redirecttohomepage">
                <p>BrainBox</p>
                <li><a style="background-color: #eb7b34;" onmouseover="this.style.backgroundColor='#da7434'"
                        onmouseout="this.style.backgroundColor='#eb7b34'" @click="navigateToChannels">Channels</a></li>
                <li><a a style="background-color: #eb7b34;" onmouseover="this.style.backgroundColor='#da7434'"
                        onmouseout="this.style.backgroundColor='#eb7b34'" @click="navigateToDiscussion">Discussion</a></li>
                <li><a style="background-color: #eb7b34;" onmouseover="this.style.backgroundColor='#da7434'"
                        onmouseout="this.style.backgroundColor='#eb7b34'" @click="navigateToWhiteboard">Whiteboard</a></li>
                <img src="\images\brainy_icon.png" alt="brainy" height="auto" id="redirectButton"
                    @click="redirecttosettings">
            </ul>
        </div>
    </div>

        <div id="code">
            <div id="channelBarStudent">
                <div id="classroomHeading" v-for="classroom in classroomInfo" :key="classroom.classroomID">
                    <h1>{{ classroom.classroomName }}</h1>
                    <p>{{ classroom.classroomDescription }}</p>
                </div>
            </div>


            <div id="mainContent">
                <div id="discussionHeader" style="left: 10%;">
                    <h1>Discussion Board</h1>
                </div>
                    <!--Want to display posts here-->
                <div id="PostBoard">
                    <div id="postsDisplay" v-for="post in classroomPosts" :key="post.postID"> 
                        <div id="post">
                            <p> {{ post.postID }} </p>
                            <h3>{{ post.postTitle }}</h3>
                            <div id="postContentBox">
                                <p>{{ post.postContent }}</p>
                                <img v-if="post.postFile" :src="getPostFile(post.postID)" alt="postImage">
                                <!-- <img v-if="post.postFile" :src="getPostFile(post.postID)" alt="postImage"> -->
                            </div>
                        </div>
                    </div>
                </div>
                    <!--Post creation-->
                    <div id="composeBox">
                        <!-- box for writing messages to send-->
                        <input type="text" id="typeyBox" name="myTextField" placeholder="Enter post title here" maxlength="50"
                            v-model="inputText_title" @keyup.enter="postPost">
                        <input type="text" id="typeyBox" name="myTextField" placeholder="Enter post content here" maxlength="10000"
                            v-model="inputText_body"  @keyup.enter="postPost">
                            <input type="file" id="fileInput" accept=".txt, .pdf, .doc, .docx, .png, .jpeg, .jpg" @change="handleFileChange">
                    </div>
                    </div>

            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-carousel@0.18.0"></script>
    <script>
        new Vue({
            el: '#code',
            data: {
                classroomInfo: [],
                user_memberID: '',
                isMan: false,
                junctionData: [],
                classroomChannels: [],
                junctionManagersData: [],
                openChannelChatActive: false,
                classroomMembers: [],
                isUserMsg: [],
                showChannelCreator: false,
                addChannelName: '',
                addChannelDesc: '',
                DeleteChannelPopupIf: false,
                getUserMessageID: '',
                openPopup: false,
                openPopup2: false,
                deletePopup: false,
                ifUser_buttonDeleteText: '<button @click="toggleDeleteConfirmOn(channelMsg.messages_channel_ID)">Delete</button>',
                ifNOTUser_buttonReportText: '<button @click="toggleMenu">Report</button>',
                AddMemberPopupIf: false,
                inputText_title: '',
                inputText_body: '',
                deleteClassPopup: false,
                RemoveMemberPopupIf: false,
                deleteMember: '',
                addMemberName: '',
                classroomPosts: [],
                classroomID: '',
                inputFile: null,

            },
            mounted() {
                
                const urlParams = new URLSearchParams(window.location.search);
                const classroomID = urlParams.get('classroomID');
                this.classroomID = urlParams.get('classroomID');
                this.user_memberID = urlParams.get('memberID');

                // Fetch classroom info
                fetch(`/getClassroomFromID?classroomID=${classroomID}`)
                    .then(response => response.json())
                    .then(data => {
                        this.classroomInfo = data;
                        //console.log(this.classroomInfo);
                    })
                    .catch(error => {
                        console.error('Error fetching classroom info:', error);
                    });

                // Fetch classroom members
                fetch(`/getClassroomMembersFromID?classroomID=${classroomID}`)
                    .then(response => response.json())
                    .then(data => {
                        this.classroomMembers = data;
                    })
                    .catch(error => {
                        console.error('Error fetching classroom members:', error);
                    });

                // Fetch managers of the classroom
                fetch(`/getManagersFromID?classroomID=${classroomID}`)
                    .then(response => response.json())
                    .then(data => {
                        this.junctionManagersData = data;
                    })
                    .catch(error => {
                        console.error('Error fetching classroom managers:', error);
                    });

                // Check if the user is a manager
                fetch(`/getIsManagerFromIDs?classroomID=${classroomID}&memberID=${this.user_memberID}`)
                    .then(response => response.json())
                    .then(data => {
                        this.junctionData = data;
                        if (this.junctionData.length > 0 && this.junctionData[0].isManager === 1) {
                            this.isMan = true;
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching junction info:', error);
                    });

                    fetch(`/getPosts?classroomID=${classroomID}`)
                        .then(response => response.json())
                        .then(data => {
                            this.classroomPosts = data;
                        })
                        .catch(error => {
                            console.error('Error fetching classroom posts info:', error);
                        });
                console.log(this.classroomPosts);
            },
            methods: {
                async getPostFile(postID) {
                    try {
        const response = await fetch(`/getPostFile?postID=${postID}`);
        const postDataArray = await response.json();

        if (Array.isArray(postDataArray) && postDataArray.length > 0) {
            const firstPostData = postDataArray[0];
            if (firstPostData && firstPostData.postFile && firstPostData.postFile.data) {
                const fileData = firstPostData.postFile.data;

                // Check if the file is an image based on the MIME type
                const mimeType = firstPostData.postFile.type;
                if (!mimeType.startsWith('image')) {
                    throw new Error('File is not an image');
                }

                // Create a blob with the appropriate MIME type for an image
                const blob = new Blob([new Uint8Array(fileData)], { type: mimeType });

                // Read the blob as a data URL
                const reader = new FileReader();
                reader.readAsDataURL(blob);

                // Define a promise to handle the asynchronous read operation
                const readPromise = new Promise((resolve, reject) => {
                    reader.onload = () => {
                        resolve(reader.result);
                    };
                    reader.onerror = reject;
                });

                return readPromise; // Return the promise that resolves with reader.result
            }
        }

        throw new Error('No file data found in the server response');
    } catch (error) {
        console.error('Error fetching post file:', error);
        throw error; // Re-throw the error to be caught by the caller
    }
    },
                toggleDeleteMenu(value) {
                    this.getUserMessageID = value;
                    this.deletePopup = true;
                },
                AddChannelPopup() {
                    this.showChannelCreator = true;
                },
                CancelChannelPopup() {
                    this.showChannelCreator = false;
                },
                ConfirmAddChannel() {
                    this.showChannelCreator = true;
                    window.location.reload();
                },
                DeleteChannelPopup() {
                    this.DeleteChannelPopupIf = true;
                },
                CancelChannelDeletePopup() {
                    this.DeleteChannelPopupIf = false;
                },
                toggleDeleteConfirmOff() {
                    this.deletePopup = false;
                },
                handleFileChange(event) {
    this.inputFile = event.target.files[0];
},
postPost: async function () {
    const urlParams = new URLSearchParams(window.location.search);
    const memberID = urlParams.get('memberID');

    const reader = new FileReader();

    // Define a promise to handle the asynchronous file reading
    const readFile = new Promise((resolve, reject) => {
        reader.onload = () => {
            // Resolve the promise with the result of readAsDataURL
            resolve(reader.result);
        };
        reader.onerror = () => {
            // Reject the promise if there's an error reading the file
            reject(reader.error);
        };
    });

    // Start reading the file
    reader.readAsDataURL(this.inputFile);

    // Wait for the file to be read and then make the POST request
    try {
        const inputFileData = await readFile;
        const response = await fetch('/addPost', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                memberID: memberID,
                classroomID: this.classroomID,
                postTitle: this.inputText_title,
                postContent: this.inputText_body,
                inputFile: inputFileData,
            }),
        });
        // Handle the response as needed
    } catch (error) {
        console.error('Error making post:', error);
    }
},
                toggleMenu() {
                    this.openPopup = true;
                },
                toggleReportConfirm() {
                    this.openPopup2 = true;
                    this.openPopup = false;
                },
                toggleReportConfirmOff() {
                    this.openPopup2 = false;
                },
                cancelPopup() {
                    this.openPopup = false;
                },
                AddMemberPopup() {
                    this.AddMemberPopupIf = true;
                },
                CancelAddMemberPopup() {
                    this.AddMemberPopupIf = false;
                },
                showDeleteClassroomPopup() {
                    this.deleteClassPopup = true;
                },
                Cancel_DeleteClassPopup() {
                    this.deleteClassPopup = true;
                },
                RemoveMemberPopup(remove_member) {
                    this.RemoveMemberPopupIf = true;
                    this.deleteMember = remove_member;
                },
                Cancel_RemoveMemberPopup() {
                    this.RemoveMemberPopupIf = false;
                    this.deleteMember = '';
                },
            }
        });
    </script>

    <script>
        new Vue({
            el: '#navBar',
            data: {
                userMemberID: '',
                memberID: '',
                classroomID: ''
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                this.memberID = urlParams.get('memberID');
                this.classroomID = urlParams.get('classroomID');
            },
            methods:
            {
                redirecttohomepage() {
                    window.location.href = `/success?username=${encodeURIComponent(this.memberID)}`;
                },
                redirecttosettings() {
                    window.location.href = `/html/settings.html?username=${encodeURIComponent(this.memberID)}`;
                },
                navigateToChannels() {
                    window.location.href = `/html/classroom.html?memberID=${encodeURIComponent(this.memberID)}&classroomID=${encodeURIComponent(this.classroomID)}`;
                },
                navigateToDiscussion() {
                    window.location.href = `/html/discussion.html?memberID=${encodeURIComponent(this.memberID)}&classroomID=${encodeURIComponent(this.classroomID)}`;
                },
                navigateToWhiteboard() {
                    window.location.href = `/html/whiteboardClass.html?memberID=${encodeURIComponent(this.memberID)}&classroomID=${encodeURIComponent(this.classroomID)}`;
                }
            }
        });
    </script>
</body>

</html>