<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="\stylesheets\newHomepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-carousel@0.18.0"></script>
</head>
<body>
        <!--BRAINY-->
        <div id="BRAINY">
            <link rel="stylesheet" href="\stylesheets\brainy.css">
            <img @click="showBrainy" id="brainyIcon" src="\images\brainyIcon.png" usemap="#workmap">
            <div v-if="isShow" id="brainy_container">
                <img v-if="defaultBrainy" class="brainyImage" src="\images\brainy_neutralPose.png">
                <img v-if="happyBrainy" class="brainyImage" src="\images\brainy_smilePose.png">
                <div id="speech">
                    <p v-if="defaultText">Hi! I'm Brainy and I'm here to help!</p>
                    <p v-if="tutorial1" style="font-size: 75%;">I'll give you a quick overview of what these buttons do!</p>
                    <p v-if="tutorial2" style="font-size: 75%;">This is 'Groups' where you can find your classrooms!</p>
                    <p v-if="tutorial3" style="font-size: 75%;">This is 'Brainlink' where you can find your groupchats!</p>
                    <p v-if="tutorial4" style="font-size: 75%;">This is 'Brainframe' where you can find your posted and edited files!</p>
                    <p v-if="tutorial5" style="font-size: 75%;">This is 'Settings' where you can access your settings!</p>
                    <p v-if="tutorial6" style="font-size: 75%;">I hope that quick tour helps!</p>

                    <p v-if="stuck1">Don't Fret! Select the 'Tutorial' on this page!</p>
                </div>
                <div id="options">
                    <button @click="showTutorial1">Tutorial</button>
                    <button @click="showLogout">How to logout?</button>
                    <button @click="isStuck1">I'm stuck!</button>
                </div>

                <div id="logoutTutorial" v-if="logout">
                    <p>Logout by accessing the settings here!</p>
                    <img id="logoutPointer" src="/images/brainy_pointer.png">
                    <button id="logoutButtonTutorial" @click="hideBrainy">Okay!</button>
                </div>

                <div id="generalTutorial" v-if="tutorial1"> 
                    <button id="logoutButtonTutorial" @click="showTutorial2">Next!</button>
                </div>
                <div id="generalTutorial" v-if="tutorial2"> 
                    <!-- point to groups -->
                    <img id="gTut_pointer1" src="/images/brainy_pointer.png">
                    <button id="logoutButtonTutorial" @click="showTutorial3">Next!</button>
                </div>
                <div id="generalTutorial" v-if="tutorial3"> 
                    <!-- point to brainlink -->
                    <img id="gTut_pointer2" src="/images/brainy_pointer.png">
                    <button id="logoutButtonTutorial" @click="showTutorial4">Next!</button>
                </div>
                <div id="generalTutorial" v-if="tutorial4"> 
                    <!-- point to brainframe -->
                    <img id="gTut_pointer3" src="/images/brainy_pointer.png">
                    <button id="logoutButtonTutorial" @click="showTutorial5">Next!</button>
                </div>
                <div id="generalTutorial" v-if="tutorial5"> 
                    <!-- point to settings -->
                    <img id="gTut_pointer4" src="/images/brainy_pointer.png">
                    <button id="logoutButtonTutorial" @click="showTutorial6">Next!</button>
                </div>
                <div id="generalTutorial" v-if="tutorial6"> 
                    <button id="logoutButtonTutorial" @click="hideBrainy">Fin!</button>
                </div>

                <div id="generalTutorial" v-if="stuck1"> 
                    <button id="logoutButtonTutorial" @click="hideStuck">Thanks!</button>
                </div>
                

                <button id="exitButton" @click="hideBrainy" onmouseover="this.style.backgroundColor='#fddfff'" onmouseout="this.style.backgroundColor='#fbc9ff'">Exit</button>
            </div>
        </div>


    <h1>Welcome to Brainbox</h1>

    <img id= "logoIcon" src="\images\brainbox_logo.png" usemap="#workmap" style="display: block">
    

    <map name="workmap" id="links">
        <area id="settings" shape="poly" coords="150,157,222,233,150,314,75,233" @click="redirecttosettings">
        <area id="groups" shape="poly" coords="150,0,222,78,150,157,75,79" @click="redirecttogroups">
        <area id="brainlink" shape="poly" coords="222,78,300,157,222,233,150,157" @click="redirecttobrainlink">
        <area id="brainframe" shape="poly" coords="75,79,150,157,75,233,0,157" @click="redirectobrainframe">
    </map>

    <div id="settingsTab">Settings</div>
    <div id="groupsTab">Groups</div>
    <div id="brainlinkTab">Brainlink</div>
    <div id="brainframeTab">Brainframe</div>

    <script>
        let x = window.innerWidth;
        let y = window.innerHeight;

        if (x >= 600 & y >= 600) {
            document.getElementById('settings').coords = "225,236,335,352,225,473,113,352";
            groups = document.getElementById('groups').coords = "225,0,335,119,225,236,113,119";
            brainlink = document.getElementById('brainlink').coords = "335,119,450,236,335,352,225,236";
            brainframe = document.getElementById('brainframe').coords = "113,119,225,236,113,352,0,236";
        }

        if (x >= 830 & y >= 830) {
            document.getElementById('settings').coords = "350,368,522,548,350,736,177,547";
            groups = document.getElementById('groups').coords = "350,0,522,183,350,368,177,183";
            brainlink = document.getElementById('brainlink').coords = "522,183,700,368,522,548,350,368";
            brainframe = document.getElementById('brainframe').coords = "177,183,350,368,177,547,0,368";
        }

        window.addEventListener("resize", function(){
            let x = window.innerWidth;
            let y = window.innerHeight;

            if (x >= 600 & y >= 600) {
                document.getElementById('settings').coords = "225,236,335,352,225,473,113,352";
                groups = document.getElementById('groups').coords = "225,0,335,119,225,236,113,119";
                brainlink = document.getElementById('brainlink').coords = "335,119,450,236,335,352,225,236";
                brainframe = document.getElementById('brainframe').coords = "113,119,225,236,113,352,0,236";
            } else {
                document.getElementById('settings').coords = "150,157,222,233,150,314,75,233";
                groups = document.getElementById('groups').coords = "150,0,222,78,150,157,75,79";
                brainlink = document.getElementById('brainlink').coords = "222,78,300,157,222,233,150,157";
                brainframe = document.getElementById('brainframe').coords = "75,79,150,157,75,233,0,157";
            }

            if (x >= 830 & y >= 830) {
                document.getElementById('settings').coords = "350,368,522,548,350,736,177,547";
                groups = document.getElementById('groups').coords = "350,0,522,183,350,368,177,183";
                brainlink = document.getElementById('brainlink').coords = "522,183,700,368,522,548,350,368";
                brainframe = document.getElementById('brainframe').coords = "177,183,350,368,177,547,0,368";
            }
        });
        
    </script>

    <div class="gdpr-warning">
        <p>This website follows the guidelines and regulations set forth by the General Data Protection Regulation (GDPR). 
            We are committed to protecting your privacy and personal data. 
            For more information on how we collect, process, and protect your data, please refer to the 
            <a href="https://gdpr-info.eu/">GDPR policy.</a></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        new Vue({
            el: "#links",
            data: {
                userMemberID: '',
                userData: []
            },
            mounted() {
                const urlParams = new URLSearchParams(window.location.search);
                this.userMemberID = urlParams.get('username');
                //console.log("user id: ", this.userMemberID);
            },
            methods: {
                redirecttogroups() {
                    const urlParams = new URLSearchParams(window.location.search);
                    window.location.href = `/html/groups.html?username=${encodeURIComponent(this.userMemberID)}`;
                },
                redirecttosettings() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const userEmail = urlParams.get('username');

                    fetch(`/retrieveUserinfo?email=${userEmail}`)
                        .then(response => response.json())
                        .then(data => {
                            this.userData = data;
                            window.location.href = `/html/settings.html?userID=${encodeURIComponent(this.userData[0].memberID)}`;
                        })
                        .catch(error => {
                            console.error('Error fetching user member id:', error);
                        });
                },
                redirecttobrainlink() {
                    window.location.href = `/html/brainlink.html?username=${encodeURIComponent(this.userMemberID)}`;
                },
                redirectobrainframe() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const userEmail = urlParams.get('username');
                    fetch(`/retrieveUserinfo?email=${userEmail}`)
                        .then(response => response.json())
                        .then(data => {
                            this.userData = data;
                            window.location.href = `/html/brainframe.html?memberID=${encodeURIComponent(this.userData[0].memberID)}`;
                        })
                        .catch(error => {
                            console.error('Error fetching user member id:', error);
                        });
                }
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        new Vue ({
            el: "#BRAINY",
            data: {
                isShow: false,
                logout: false,
                tutorial1: false,
                defaultText: true,
                tutorial2: false,
                tutorial3: false,
                tutorial4: false,
                tutorial5: false,
                tutorial6: false,
                happyBrainy: false,
                defaultBrainy: true,
                stuck1: false
            },
            mounted() {
                console.log("working!");
            },
            methods: {
                showBrainy() {
                    this.isShow = true;
                    this.defaultText = true;
                    this.happyBrainy = false;
                    this.defaultBrainy = true;
                },
                hideBrainy() {
                    this.isShow = false;
                    this.logout = false;
                    this.tutorial6 = false;
                },
                showLogout() {
                    this.logout = true;
                },
                showTutorial1() {
                    this.tutorial1 = true;
                    this.defaultText = false;
                    this.happyBrainy = true;
                    this.defaultBrainy = false;
                },
                showTutorial2() {
                    this.tutorial2 = true;
                    this.tutorial1 = false;
                    this.happyBrainy = false;
                    this.defaultBrainy = true;
                },
                showTutorial3() {
                    this.tutorial2 = false;
                    this.tutorial3 = true;
                },
                showTutorial4() {
                    this.tutorial3 = false;
                    this.tutorial4 = true;
                },
                showTutorial5() {
                    this.tutorial4 = false;
                    this.tutorial5 = true;
                },
                showTutorial6() {
                    this.tutorial5 = false;
                    this.tutorial6 = true;
                    this.happyBrainy = true;
                    this.defaultBrainy = false;
                },
                isStuck1() {
                    this.defaultText = false;
                    this.stuck1 = true;
                },
                hideStuck() {
                    this.stuck1 = false;
                    this.defaultText = true;
                }
            }
        });
    </script>
</body>
</html>