<!DOCTYPE html>
<html style="background-color:#F3F3F3; margin: 0">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brainbox - Login</title>
        <script type="module" src="https://unpkg.com/vue@3/dist/vue.esm-browser.js"></script>
        <link rel="stylesheet" href="\stylesheets\style.css">
    </head>
    <body style="margin: 0; overflow:hidden">

    <img id="desktopImage" src="/images/loginsignin_background.png">
    <img id="mobileImage" src="/images/brainboxLoginImage_nocurves.png">

        <div id="homepageBox">
        <h1>LOGIN</h1>

        <div id="app">
            <!--enter username-->
            <label for="userName">Email</label>
            <br>
            <input
                type="text"
                class="form-control"
                id="usernameBox"
                v-model="usernameBoxValue"
                placeholder="Enter Email..."
            />
            <br>
            <br>
            <!--enter password-->
            <label for="passWord">Password</label>
            <br>
            <input
                type="text"
                class="form-control"
                id="passwordBox"
                v-model="passwordBoxValue"
                placeholder="Enter Password..."
                style="-webkit-text-security: square;"
            />
            <a href="">Forgot Password?</a>
            <br>
            <br>
            <div id="buttonInput">
            <button @click="submitForm" style="width: 150%">LOGIN</button>
          </div>


          <div id="errorMessage" v-if="errorMessage">
            <p>Login credentials are incorrect. Please try again.</p>
          </div>

        </div>

        <img id="orBar" src="/images/OR.png">
        <br>
        <h2>New here?</h2>
        <h3><a href="\html\signup.html">create account</a></h3>


        <script src="https://unpkg.com/vue@3"></script>
        <script type="module">
            const { createApp, ref } = Vue;
          
            const app = createApp({
              setup() {
                const usernameBoxValue = ref('');
                const passwordBoxValue = ref('');
                const errorMessage = ref(false);
          
                const submitForm = async () => {
                  const enteredUsername = usernameBoxValue.value;
                  const enteredPassword = passwordBoxValue.value;
          
                  try {
                    // Make a POST request to your server
                    const response = await fetch('/submit', {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json',
                      },
                      body: JSON.stringify({
                        userName: enteredUsername,
                        passWord: enteredPassword,
                      }),
                    });
          
                    // Check if the request was successful
                    if (response.ok) {
                      const responseData = await response.json();
                      if(responseData.success) {
                        window.location.href = `/success?username=${responseData.username}`;
                      }
                      else {
                        console.error('Invalid credentials');
                        errorMessage.value = true;
                        console.log(errorMessage.value);
                      }
                    } else {
                      // Handle errors
                      console.error('Form submission failed');
                      errorMessage.value = true;
                        console.log(errorMessage.value);
                    }
                  } catch (error) {
                    console.error('Error sending form data:', error);
                    errorMessage.value = true;
                        console.log(errorMessage.value);
                  }
                };
          
                return {
                  usernameBoxValue,
                  passwordBoxValue,
                  submitForm,
                  errorMessage,
                };
              },
            });
          
            app.mount('#app');
          </script>
        <br>
        </div>
        <br>
    </body>
</html>