<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
    <link rel="stylesheet" href="\stylesheets\settings.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-carousel@0.18.0"></script>
    <script src="https://kit.fontawesome.com/e15d1ee196.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="container">
        <div id="navBar">
            <!-- Navigation bar content -->
            <ul>
                <img src="\images\brainy_icon.png" alt="brainy" height="auto" id="redirectButton"
                @click="redirecttohomepage">
                <p>BrainBox</p>
                <li><a style="background-color: #423076;" onmouseover="this.style.backgroundColor='#5a4791'"
                        onmouseout="this.style.backgroundColor='#423076'" href="#our product">Home</a></li>
                <li><a a style="background-color: #423076;" onmouseover="this.style.backgroundColor='#5a4791'"
                        onmouseout="this.style.backgroundColor='#423076'" href="#features">Settings</a></li>
                <li><a style="background-color: #423076;" onmouseover="this.style.backgroundColor='#5a4791'"
                        onmouseout="this.style.backgroundColor='#423076'" href="aboutus.html">Help</a></li>
            </ul>
        </div>

        <div id="content">
            <div id="heading">
                <!-- Heading content -->
                <h1>Welcome to Brainy!</h1>
                <button id="logOutBtn" @click="logoutFunct"><i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </div>

            <div id="settingsList">
                <!-- Settings list content -->
                <ul>
                    <button @click="showGeneralSettings">General Settings</button>
                    <button @click="showAccountSettings">Account Settings</button>
                    <button @click="showPrivacySettings">Privacy Settings</button>
                    <button @click="showNotificationSettings">Notification Settings</button>
                </ul>
            </div>
            <!-- Content sections go here -->
            <div id="SettingsContent" v-if="displayGeneralSettings">
                <div id="text">
                    <h2>General Settings</h2>

                    <div id="SettingOptions">
                        <h3>Theme</h3>
                        <p>Theme [dark / light]</p>

                        <h3>Accessibility</h3>
                        <p>Language [drop down for several languages]</p>
                        <p>Font-size [small, medium, large]</p>
                    </div>
                </div>

                <div id="SettingsContent" v-if="displayAccountSettings">
                    <h2>Account Settings</h2>
                    <div id="SettingOptions">
                        <h3>Account Information</h3>
                        <p>Change email [field for new email]</p>
                        <p>Reset Password [field to send reset password]</p>

                        <h4>Contact Details</h4>
                        <p>Change forename</p> <input type="text" v-model="newForename"
                            placeholder="Enter new forename...">
                        <p>Change surname name</p> <input type="text" v-model="newSurname"
                            placeholder="Enter new surname...">
                        <p>Change phone Number</p> <input type="text" v-model="newPhoneNum"
                            placeholder="Enter new phonenumber..."> <!--editEmailConfirm-->
                        <p>Change email</p> <input type="text" v-model="newEmail" placeholder="Enter new email...">
                        <button @click="editEmailConfirm">Confirm Change Email</button>
                        <p>Change pronouns </p> <input type="text" v-model="newPronouns"
                            placeholder="Enter new pronouns...">
                        <p>Change gender</p>
                        <div id="dpDMenu">
                            <select v-model="gender">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Non-Binary</option>
                                <option>Prefer Not To Say</option>
                            </select>
                        </div>

                        <h3>Account</h3>
                        <button @click="deleteAccount">Delete Account</button>
                    </div>
                </div>

                <div id="SettingsContent" v-if="displayPrivacySettings">
                    <h2>Privacy Settings</h2>
                    <div id="SettingOptions">
                        <h3>Cookies</h3>
                        <p>Cookies toggle [on/off]</p>
                    </div>
                </div>

                <div id="SettingsContent" v-if="displayNotifSettings">
                    <h2>Notification Settings</h2>
                    <div id="SettingOptions">
                        <h3>Notifications</h3>
                        <p>[toggle notifications on or off]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#content',
            data: {
                displayGeneralSettings: true,
                displayAccountSettings: false,
                displayPrivacySettings: false,
                displayNotifSettings: false,
                newForename: '',
                newSurname: '',
                newPhoneNum: '',
                newPronouns: '',
                newGender: '',
                gender: '',
                newEmail: ''
            },
            methods: {
                showGeneralSettings() {
                    this.displayGeneralSettings = true;
                    this.displayAccountSettings = false;
                    this.displayPrivacySettings = false;
                    this.displayNotifSettings = false;
                },
                showAccountSettings() {
                    this.displayGeneralSettings = false;
                    this.displayAccountSettings = true;
                    this.displayPrivacySettings = false;
                    this.displayNotifSettings = false;
                },
                showPrivacySettings() {
                    this.displayGeneralSettings = false;
                    this.displayAccountSettings = false;
                    this.displayPrivacySettings = true;
                    this.displayNotifSettings = false;
                },
                showNotificationSettings() {
                    this.displayGeneralSettings = false;
                    this.displayAccountSettings = false;
                    this.displayPrivacySettings = false;
                    this.displayNotifSettings = true;
                },
                enterNewEmail() {
                    //new email

                },
                enterNewPassword() {
                    //new password

                },
                deleteAccount: async function () {
                    //delete account
                    const urlParams = new URLSearchParams(window.location.search);
                    const userID = urlParams.get('username');

                    //deleteUser
                    //connect to database
                    try {
                        const response = await fetch('/deleteUser', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                memberID: userID,
                            }),
                        });

                        window.location.href = '/html/login.html';
                    } catch (error) {
                        console.error('Error sending message:', error);
                    }
                },
                editEmailConfirm: async function () {
                    //delete account
                    const urlParams = new URLSearchParams(window.location.search);
                    const userID = urlParams.get('username');

                    //deleteUser
                    //connect to database
                    try {
                        const response = await fetch('/changeEmail', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                memberID: userID,
                                newEmail: this.newEmail
                            }),
                        });

                        window.location.href = '/html/login.html';
                    } catch (error) {
                        console.error('Error sending message:', error);
                    }
                },
                logoutFunct() {
                    fetch('/logout', {
                        method: 'POST'
                    })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = '/html/login.html';
                            } else {
                                console.error('Logout failed');
                            }
                        })
                        .catch(error => {
                            console.error('Error logging out:', error);
                        });
                },
            }
        });
    </script>

    <script>
        new Vue({
            el: '#navBar',
            data: {
                userMemberID: ''
            },
            methods:
            {
                redirecttohomepage() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const userMemberID = urlParams.get('memberID');

                    window.location.href = `/success?username=${encodeURIComponent(userMemberID)}`;
                },
                redirecttosettings() {
                    ///html/settings.html
                    const urlParams = new URLSearchParams(window.location.search);
                    const userMemberID = urlParams.get('memberID');

                    window.location.href = `/html/settings.html?username=${encodeURIComponent(userMemberID)}`;
                }
            }
        });
    </script>
</body>

</html>