<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home Page</title>
    <link rel="stylesheet" href="\stylesheets\settings.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-carousel@0.18.0"></script>
    <script src="https://kit.fontawesome.com/e15d1ee196.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="container">
        <div id="navBar">
            <!-- Navigation bar content -->
            <ul>
                <img src="\images\brainy_icon.png" alt="brainy" height="auto" id="redirectButton"
                    @click="redirecttohomepage">
                <p>BrainBox</p>
                <li><a style="background-color: #423076;" onmouseover="this.style.backgroundColor='#5a4791'"
                        onmouseout="this.style.backgroundColor='#423076'" href="#our product"> </a></li>
                <li><a a style="background-color: #423076;" onmouseover="this.style.backgroundColor='#5a4791'"
                        onmouseout="this.style.backgroundColor='#423076'" href="#features"> </a></li>
                <li><a style="background-color: #423076;" onmouseover="this.style.backgroundColor='#5a4791'"
                        onmouseout="this.style.backgroundColor='#423076'" href="aboutus.html"> </a></li>
                <button id="logOutBtn" @click="logoutFunct"><i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </ul>
        </div>

        <div id="content">
            <div id="heading">
                <!-- Heading content -->
                <h1>Welcome to Brainy!</h1>
            </div>

            <div id="settingsList">
                <!-- Settings list content -->
                <ul>
                    <button @click="showAccountSettings">Account Settings</button>
                    <button @click="showPrivacySettings">Privacy Settings</button>
                </ul>
            </div>
            <!-- Content sections go here -->

            <div id="SettingsContent" v-if="displayAccountSettings">
                <h2>Account Settings</h2>
                <div id="SettingOptions">
                    <h3>Account Information</h3>
                    <p>Reset Password</p> <input type="text" v-model="newPassword" placeholder="Enter new password...">
                    <button @click="enterNewPassword">Confirm Change Password</button>

                    <h4>Contact Details</h4>
                    <p>Change forename</p> <input type="text" v-model="newForename" placeholder="Enter new forename...">
                    <button @click="enterNewForename">Confirm Change Forename</button>
                    <p>Change surname name</p> <input type="text" v-model="newSurname"
                        placeholder="Enter new surname...">
                    <button @click="enterNewSurname">Confirm Change Surname</button>
                    <p>Change phone Number</p> <input type="text" v-model="newPhoneNum"
                        placeholder="Enter new phonenumber..."> <!--editEmailConfirm-->
                    <button @click="enterNewPhoneNum">Confirm Change Phonenumber</button>
                    <p>Change email</p> <input type="text" v-model="newEmail" placeholder="Enter new email...">
                    <button @click="editEmailConfirm">Confirm Change Email</button>
                    <p>Change pronouns </p> <input type="text" v-model="newPronouns"
                        placeholder="Enter new pronouns...">
                    <p>Change gender</p>
                    <div id="dpDMenu">
                        <select v-model="gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Non-Binary</option>
                            <option>Prefer Not To Say</option>
                        </select>
                    </div>

                    <p><button @click="">Confirm Changes</button></p>

                    <h3>Account</h3>
                    <button @click="deleteAccount">Delete Account</button>
                </div>
            </div>

            <div id="SettingsContent" v-if="displayPrivacySettings">
                <h2>Privacy Settings</h2>
                <div id="SettingOptions">
                    <h3>Cookies</h3>
                    <p>Cookies toggle</p>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#content',
            data: {
                displayAccountSettings: true,
                displayPrivacySettings: false,
                newForename: '',
                newSurname: '',
                newPhoneNum: '',
                newPronouns: '',
                newGender: '',
                gender: '',
                newEmail: '',
                newPassword: ''
            },
            methods: {
                showAccountSettings() {
                    this.displayAccountSettings = true;
                    this.displayPrivacySettings = false;
                },
                showPrivacySettings() {
                    this.displayAccountSettings = false;
                    this.displayPrivacySettings = true;
                },
                enterNewPassword: async function() {
                    //new password
                    //newPassword
                    const urlParams = new URLSearchParams(window.location.search);
                    const userID = urlParams.get('userID');
                    try {
                        const response = await fetch('/changePassword', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                memberID: userID,
                                newPassword: this.newPassword
                            }),
                        });

                        window.location.href = '/html/login.html';
                    } catch (error) {
                        console.error('Error sending message:', error);
                    }

                },
                enterNewSurname: async function() {
                    //new password
                    //newPassword
                    const urlParams = new URLSearchParams(window.location.search);
                    const userID = urlParams.get('userID');
                    try {
                        const response = await fetch('/changeSurname', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                memberID: userID,
                                newSurname: this.newSurname
                            }),
                        });

                        window.location.href = '/html/login.html';
                    } catch (error) {
                        console.error('Error sending message:', error);
                    }

                },
                enterNewForename: async function() {
                    //new password
                    //newPassword
                    const urlParams = new URLSearchParams(window.location.search);
                    const userID = urlParams.get('userID');
                    try {
                        const response = await fetch('/changeForename', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                memberID: userID,
                                newForename: this.newForename
                            }),
                        });

                        window.location.href = '/html/login.html';
                    } catch (error) {
                        console.error('Error sending message:', error);
                    }

                },
                deleteAccount: async function () {
                    //delete account
                    const urlParams = new URLSearchParams(window.location.search);
                    const userID = urlParams.get('username');

                    //deleteUser
                    //connect to database
                    try {
                        const response = await fetch('/deleteUser', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                memberID: userID,
                            }),
                        });

                        window.location.href = '/html/login.html';
                    } catch (error) {
                        console.error('Error sending message:', error);
                    }
                },
                editEmailConfirm: async function () {
                    //delete account
                    const urlParams = new URLSearchParams(window.location.search);
                    const userID = urlParams.get('userID');

                    //deleteUser
                    //connect to database
                    try {
                        const response = await fetch('/changeEmail', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                memberID: userID,
                                newEmail: this.newEmail
                            }),
                        });

                        window.location.href = '/html/login.html';
                    } catch (error) {
                        console.error('Error sending message:', error);
                    }
                },

                enterNewPhoneNum() {
                    
                }
            }
        });
    </script>

    <script>
        new Vue({
            el: '#navBar',
            data: {
                userMemberID: '',
                username: '',
                userData: []
            },
            methods:
            {
                redirecttohomepage() {
                    const urlParams = new URLSearchParams(window.location.search);
                    const userMemberID = urlParams.get('userID');
                    //get the username from the database
                    ///retrieveUserinfoID
                    fetch(`/retrieveUserinfoID?memberID=${userMemberID}`)
                        .then(response => response.json())
                        .then(data => {
                            this.userData = data;
                            window.location.href = `/success?username=${encodeURIComponent(this.userData[0].email)}`;
                        })
                        .catch(error => {
                            console.error('Error fetching user member id:', error);
                        });

                },
                logoutFunct() {
                    fetch('/logout', {
                        method: 'POST'
                    })
                        .then(response => {
                            if (response.ok) {
                                window.location.href = '/html/login.html';
                            } else {
                                console.error('Logout failed');
                            }
                        })
                        .catch(error => {
                            console.error('Error logging out:', error);
                        });
                },
            }
        });
    </script>
</body>

</html>